<html>
    <head>
        <title>👋 Bienvenue {{ name }}</title>
        <link href="{{ url_for('static', path='/css/styles.css') }}" rel="stylesheet">
    </head>
    <body>
        <div class="centered-content">
            <h1>Bienvenue {{ name }} !</h1>
            <p>💻 Tu es connecté depuis <strong>{{ hostname }}</strong>.</p>
            <p>⏳ L'heure actuelle est : <strong>{{ current_time }}</strong>.</p>
	    <img src="{{ image_url }}" alt="image">
	    {% if secret_value is defined %}<p>🤫 La valeur secrète est : <strong>{{ secret_value }}</strong></p>{% endif %}
        </div>
    </body>
</html>

